body, header {
font-family: 'Poppins', sans-serif
}

#nav {
margin-top: 10px;
margin-bottom: 20px;
font-weight: 600;
position: relative;
}

#about, #portfolio {
    margin-bottom: 30px;
}

#bio-image {
    margin-bottom: 30px;
    width: 78%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bio {
    padding-top: 10px;
    font-size: 16pt;
    line-height: 22pt;
}

#resume-link {
    font-size: 18pt;
    line-height: 22pt;   
    margin: 10px 0 20px 0; 
}

#contact-info {
}