body, header, head, html {
font-family: 'Poppins', sans-serif;
}

#nav {
margin-top: 10px;
margin-bottom: 20px;
font-weight: 600;
position: relative;
}

#about, #portfolio, #contact-info {
    margin-bottom: 30px;
}

#bio-image {
    margin-bottom: 30px;
    width: 78%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#bio {
    padding-top: 10px;
    font-size: 16pt;
    line-height: 22pt;
}

#resume {
    font-size: 18pt;
    line-height: 22pt;   
    margin: 10px 0 20px 0; 
    color: rgba(0, 0, 0, 0.85);
}

#resume-link {
    font-size: 27pt;
}

.card {
    border: 4px solid #7493ca;
    border-radius: 20px;
}

a {
    color: black;
}

#resume-link:hover, #project-name:hover, #gh-link:hover {
    color: #d08d11;
}

#project-name {
    font-size: 20pt;
}

#gh-link {
    font-size: 17pt;
}
.content {
    font-size: 14pt;
}
#contact-info {
}

#email, #linkedIn, #github, #phone {
    font-size: 15pt;
    line-height: 22pt;   
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    margin-top: 20px;
}

#contact-card {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
}