body, header {
font-family: 'Poppins', sans-serif
}

#nav {
margin-top: 10px;
margin-bottom: 20px;
font-weight: 600;
}

#about, #portfolio {
    margin-bottom: 30px;
}
#bio-image {
    margin-bottom: 30px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bio {
    font-size: 15pt;
}

#contact-info {
}